# Feature 선택

## 선정 기준
1. EDA 결과 상관계수가 높고 시각화에서 유의미한 결과가 나온 feature로 1차 선택</br>
2. 일반적으로 예상할 수 있는 결과를 나타낸 feature 위주로 선택</br>
    ex) 나이가 적은 고객들이 이탈율이 높다고 생각함 => Age 변수는 나이가 많아질수록 이탈율 높아짐.(선택X)</br>
    Under 30 변수는 30세 이하 고객의 이탈율이 높았음.(선택O)</br> 
3. 같은 성격을 가진 feature 중에서 시각화 결과가 더 뚜렷한 feature 선택</br>
4. 한국 통신사 시장과 맞지 않는 feature 제외</br>
    ex) Contract-알뜰폰은 약정없이 월 청구, 통신3사는 무조건 1년 or 2년 약정)</br>
5. 그 외 중요하다고 생각하는 feature 선정

## 선정 결과&선정 기준
* Dependents (3)
* under 30 (2)
* Monthly Charge (2)
* Total Revenue (2)

* Tenure in Months (5)
* Internet Service (5) : 예상과 다른 결과지만 중요하다고 생각하여 선정
* Device Protection Plan (2)
* Unlimited Data (2)
* Streaming Movies (5)

## 파생변수
예상 해지 날짜 구하기 위함
* 가입기간(일)
* 가입일자(가입기간으로 계산)

# 데이터 로드

In [1]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [2]:
df = pd.read_excel("total.xlsx")
print(df.shape)
df.head()

(7043, 46)

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Service ID,...,Total Revenue,Status ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,IJKDQVSWH3522,...,59.65,SWSORB1252,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,BFKMZJAIE2285,...,1024.10,SNAEQA8572,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,EIMVJQBMT7187,...,1910.88,LMBQNN3714,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,EROZQXDUU4979,...,2995.07,VRZYZI9978,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,GEEYSJUHY6991,...,3102.36,FDNAKX1688,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [3]:
# Customer ID & 선정한 컬럼 & 'Churn Label', 'Churn Score'
selected_cols = ['Customer ID','Dependents', 'Under 30', 'Monthly Charge', 'Total Revenue', 'Tenure in Months', 'Internet Service', 
                 'Device Protection Plan', 'Unlimited Data', 'Streaming Movies', 'Churn Label', 'Churn Score']

new_df = df[selected_cols]

new_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Label,Churn Score
0,8779-QRDMV,No,No,39.65,59.65,1,Yes,Yes,No,Yes,Yes,91
1,7495-OOKFY,Yes,No,80.65,1024.10,8,Yes,No,Yes,No,Yes,69
2,1658-BYGOY,Yes,No,95.45,1910.88,18,Yes,No,Yes,Yes,Yes,81
3,4598-XLKNJ,Yes,No,98.50,2995.07,25,Yes,Yes,Yes,Yes,Yes,88
4,4846-WHAFZ,Yes,No,76.50,3102.36,37,Yes,No,Yes,No,Yes,67
...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,No,No,21.15,3039.53,72,No,No,No,No,No,45
7039,6840-RESVB,Yes,No,84.80,2807.47,24,Yes,Yes,Yes,Yes,No,59
7040,2234-XADUH,Yes,No,103.20,9453.04,72,Yes,Yes,Yes,Yes,No,71
7041,4801-JZAZL,Yes,No,29.60,319.21,11,Yes,No,Yes,No,No,59
7042,3186-AJIEK,No,No,105.65,8887.86,66,Yes,Yes,Yes,Yes,No,38

# label 값 맞추기

## Yes, No -> 1, 0

In [4]:
target_cols = ['Under 30','Dependents', 'Internet Service','Device Protection Plan','Streaming Movies', 'Unlimited Data','Churn Label']

for col in target_cols:
    new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
    

new_df.head()

C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2924241732.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].map({'Yes': 1, 'No': 0})

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Label,Churn Score
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,1,91
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,1,69
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,1,81
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,1,88
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,1,67

# 파생변수 생성

## 가입일자

Churn Label: Yes = 고객이 이번 분기 이탈 / NO = 고객이 남아 있음.</br>
Tenure in Months : 3분기 말(2023년 9월 30일) 기준 가입일로부터의 개월 수 (이탈 여부 상관 X)</br>


 => 기준 날짜 : 2023년 9월 30일</br>
 => 기준 날짜를 기준으로 Tenure in Months 변수를 이용하여 가입 일자 역계산</br>

In [5]:
# 기준 날짜 2023년 10월 31일 설정
base_date = datetime(2023, 9, 30)

# 'Contract Date' 컬럼 생성
new_df['Contract Date'] = new_df['Tenure in Months'].apply(lambda x: base_date - timedelta(days=x*30))  # 가입개월 수를 일수로 변환하여 뺀다.

# 'Contract Date' 컬럼에서 일자(day) 랜덤 생성
new_df['Contract Date'] = new_df.apply(lambda row: row['Contract Date'].replace(day=np.random.randint(1, 29)), axis=1)


# 결과 출력
new_df

C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2692213543.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Contract Date'] = new_df['Tenure in Months'].apply(lambda x: base_date - timedelta(days=x*30))  # 가입개월 수를 일수로 변환하여 뺀다.
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\2692213543.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Contract Date'] = new_df.apply(lambda row: row['Contract Date'].replace(day=np.random.randint(1, 29)), axis=1)

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Label,Churn Score,Contract Date
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,1,91,2023-08-14
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,1,69,2023-02-08
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,1,81,2022-04-27
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,1,88,2021-09-05
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,1,67,2020-09-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,0,45,2017-10-11
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,0,59,2021-10-10
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,0,71,2017-10-14
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,0,59,2022-11-28
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,0,38,2018-04-22

## 가입기간(일)

가입일자부터 2023년 9월 30일까지의 일수로 계산

In [6]:
# 2023년 9월 30일
end_date = datetime(2023, 9, 30)

# Contract Date 컬럼을 datetime 형식으로 변환
new_df['Contract Date'] = pd.to_datetime(new_df['Contract Date'])

# Contract Period 계산 및 저장
new_df['Contract Period'] = (end_date - new_df['Contract Date']).dt.days

new_df

C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\3856216189.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Contract Date'] = pd.to_datetime(new_df['Contract Date'])
C:\Users\ksh\AppData\Local\Temp\ipykernel_17532\3856216189.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Contract Period'] = (end_date - new_df['Contract Date']).dt.days

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Label,Churn Score,Contract Date,Contract Period
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,1,91,2023-08-14,47
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,1,69,2023-02-08,234
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,1,81,2022-04-27,521
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,1,88,2021-09-05,755
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,1,67,2020-09-28,1097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,0,45,2017-10-11,2180
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,0,59,2021-10-10,720
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,0,71,2017-10-14,2177
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,0,59,2022-11-28,306
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,0,38,2018-04-22,1987

# 데이터 저장 & 데이터 로드

In [7]:
# 컬럼 순서 변경

col1=new_df.columns[:10].to_list()
col2=new_df.columns[12:].to_list()
col3=new_df.columns[10:12].to_list()
new_col=col1+col2+col3
new_df=new_df[new_col]

new_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,2023-08-14,47,1,91
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,2023-02-08,234,1,69
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,2022-04-27,521,1,81
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,2021-09-05,755,1,88
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,2020-09-28,1097,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,2017-10-11,2180,0,45
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,2021-10-10,720,0,59
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,2017-10-14,2177,0,71
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,2022-11-28,306,0,59
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,2018-04-22,1987,0,38

In [8]:
new_df.to_csv("new_total.csv", index=False)

In [9]:
new_df = pd.read_csv("new_total.csv")
new_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Contract Date,Contract Period,Churn Label,Churn Score
0,8779-QRDMV,0,0,39.65,59.65,1,1,1,0,1,2023-08-14,47,1,91
1,7495-OOKFY,1,0,80.65,1024.10,8,1,0,1,0,2023-02-08,234,1,69
2,1658-BYGOY,1,0,95.45,1910.88,18,1,0,1,1,2022-04-27,521,1,81
3,4598-XLKNJ,1,0,98.50,2995.07,25,1,1,1,1,2021-09-05,755,1,88
4,4846-WHAFZ,1,0,76.50,3102.36,37,1,0,1,0,2020-09-28,1097,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,21.15,3039.53,72,0,0,0,0,2017-10-11,2180,0,45
7039,6840-RESVB,1,0,84.80,2807.47,24,1,1,1,1,2021-10-10,720,0,59
7040,2234-XADUH,1,0,103.20,9453.04,72,1,1,1,1,2017-10-14,2177,0,71
7041,4801-JZAZL,1,0,29.60,319.21,11,1,0,1,0,2022-11-28,306,0,59
7042,3186-AJIEK,0,0,105.65,8887.86,66,1,1,1,1,2018-04-22,1987,0,38