In [1]:
import numpy as np
import pandas as pd

In [2]:
# Data loading
tccl = pd.read_csv('./data/Telco_customer_churn_location.csv', header=0, encoding='utf-8')
tccp = pd.read_csv('./data/Telco_customer_churn_population.csv', header=0, encoding='utf-8')
tccsv = pd.read_csv('./data/Telco_customer_churn_services.csv', header=0, encoding='utf-8')
tccst = pd.read_csv('./data/Telco_customer_churn_status.csv', header=0, encoding='utf-8')
tcc = pd.read_csv('./data/Telco_customer_churn.csv', header=0, encoding='utf-8')
cc = pd.read_csv('./data/CustomerChurn.csv', header=0, encoding='utf-8')

In [3]:
# column name dict declare
columns_name_dict = {'tcc_location':tccl.columns.tolist(), 'tcc_population':tccp.columns.tolist(), 'tcc_service':tccsv.columns.tolist(),
                     'tcc_status':tccst.columns.tolist(), 'tcc':tcc.columns.tolist(), 'cc':cc.columns.tolist()}

In [4]:
# dict 자료형을 사용하여 DataFrame 생성
data_column_list = pd.DataFrame.from_dict(columns_name_dict, orient='index')
data_column_list = data_column_list.T
# data_column_list.head()

,tcc_location,tcc_population,tcc_service,tcc_status,tcc,cc
0,Location ID,ID,Service ID,Status ID,Customer ID,LoyaltyID
1,Customer ID,Zip Code,Customer ID,Customer ID,Count,Customer ID
2,Count,Population,Count,Count,Country,Senior Citizen
3,Country,None,Quarter,Quarter,State,Partner
4,State,None,Referred a Friend,Satisfaction Score,City,Dependents

In [5]:
# 특정 문자열이, 다른 데이터 프레임에도 존재하는지 확인(테스트 용도)
test = data_column_list
test_string = data_column_list['cc'][12]
(test == test_string).sum().sum()
# test_sum.sum().sum()# in을 쓰는데 계속 false가 뜬다.. 왜일까

2

In [6]:
# 길이 확인(테스트 용도)
# len(unique_dict['cc_unique'])
# len(unique_dict['tcc_unique'])
# len(unique_dict['tccl_unique'])
# len(unique_dict['tccst_unique'])
# len(unique_dict['tccsv_unique'])

In [7]:
# 모든 데이터에 대해서, 중복 여부 확인하여 중복 체크 DataFrame 생성
unique_dict = {}

for columns_name in data_column_list.columns.tolist():
    # print(columns_name)
    all_columns = data_column_list.columns.tolist()
    all_columns.remove(columns_name)
    
    compared = data_column_list[all_columns]
    target = columns_name
    result_list = []
    
    for table_data in data_column_list[target].values.tolist():
        if table_data is None:
            result_list.append('Not exist')
        
        # total_count = (compared == table_data).sum().sum()
        
        elif (compared == table_data).sum().sum() >= 1:
            result_list.append('Not Unique')
        else:
            result_list.append('Unique')
    
    result_dict = {str(columns_name+'_unique'):result_list}
    
    unique_dict.update(result_dict)

# dict 자료형 사용, 중복여부 DataFrame 생성
unique_result_df = pd.DataFrame.from_dict(unique_dict, orient='index')
unique_result_df.T.head()

,tcc_location_unique,tcc_population_unique,tcc_service_unique,tcc_status_unique,tcc_unique,cc_unique
0,Unique,Unique,Unique,Unique,Not Unique,Unique
1,Not Unique,Not Unique,Not Unique,Not Unique,Not Unique,Not Unique
2,Not Unique,Unique,Not Unique,Not Unique,Not Unique,Not Unique
3,Not Unique,Not exist,Not Unique,Not Unique,Not Unique,Not Unique
4,Not Unique,Not exist,Unique,Unique,Not Unique,Not Unique

In [8]:
# 기존 컬럼 리스트와 병합
total_data_list = pd.concat([data_column_list,unique_result_df.T],axis=1)
# total_data_list.merge(unique_result_df)
total_data_list.head()

,tcc_location,tcc_population,tcc_service,tcc_status,tcc,cc,tcc_location_unique,tcc_population_unique,tcc_service_unique,tcc_status_unique,tcc_unique,cc_unique
0,Location ID,ID,Service ID,Status ID,Customer ID,LoyaltyID,Unique,Unique,Unique,Unique,Not Unique,Unique
1,Customer ID,Zip Code,Customer ID,Customer ID,Count,Customer ID,Not Unique,Not Unique,Not Unique,Not Unique,Not Unique,Not Unique
2,Count,Population,Count,Count,Country,Senior Citizen,Not Unique,Unique,Not Unique,Not Unique,Not Unique,Not Unique
3,Country,None,Quarter,Quarter,State,Partner,Not Unique,Not exist,Not Unique,Not Unique,Not Unique,Not Unique
4,State,None,Referred a Friend,Satisfaction Score,City,Dependents,Not Unique,Not exist,Unique,Unique,Not Unique,Not Unique

In [9]:
# Save as
# total_data_list.to_csv("./all_data_infor.csv", encoding='utf-8')