In [18]:
import numpy as np
import pandas as pd

In [19]:
# 개별적으로 불러오기
tccsv = pd.read_csv('./data/Telco_customer_churn_services.csv', header=0, encoding='utf-8')
tccst = pd.read_csv('./data/Telco_customer_churn_status.csv', header=0, encoding='utf-8')
tccd = pd.read_csv('./data/Telco_customer_churn_demographics.csv', header=0, encoding='utf-8')
tccl = pd.read_csv('./data/Telco_customer_churn_location.csv', header=0, encoding='utf-8')

In [31]:
# 동적 변수 사용하여 한번에 불러오기(참조, 사용하지 않음)
variable_name = ['tccsv2', 'tccst2', 'tccd2','tccl2']
file_names = ['Telco_customer_churn_services', 'Telco_customer_churn_status', 'Telco_customer_churn_demographics', 'Telco_customer_churn_location']

for i in range(len(file_names)):
    globals()[variable_name[i]] = pd.read_csv('./data/'+file_names[i]+'.csv', header=0, encoding='utf-8')

In [20]:
# 공통 컬럼을 기준으로 하여, outer merge

merged_1 = pd.merge(tccsv, tccst, how='outer', on=['Customer ID', 'Count', 'Quarter'])
merged_2 = pd.merge(tccd, tccl, how='outer', on=['Customer ID', 'Count'])

merged_end = pd.merge(merged_2, merged_1, how='outer', on=['Customer ID', 'Count'])

In [23]:
# Data check
merged_end

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Location ID,...,Total Revenue,Status ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,OXCZEW7397,...,59.65,SWSORB1252,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,FCCECI8494,...,1024.10,SNAEQA8572,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,HEHUQY7254,...,1910.88,LMBQNN3714,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,WIUHRF2613,...,2995.07,VRZYZI9978,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,CFEZBF4415,...,3102.36,FDNAKX1688,2,Churned,Yes,1,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,Female,30,No,No,No,No,0,XVCVGG7664,...,3039.53,HNJTLH8249,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,1,Male,38,No,No,Yes,Yes,2,NOTKAT3139,...,2807.47,SJJDWW6147,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,1,Female,30,No,No,Yes,Yes,2,IIQJBU2929,...,9453.04,AODCBE7865,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,1,Female,32,No,No,Yes,Yes,2,PBNAHR7564,...,319.21,GLQPEW3973,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,1,Male,44,No,No,No,No,0,TJZLUX4957,...,8887.86,KCNRPQ8327,4,Stayed,No,0,38,5097,NaN,NaN

In [29]:
# Save as
merged_end.to_csv("./result_data/merged_date_2.csv")

## 기존 데이터와 비교(개인 확인 차원)

In [25]:
merged_end.columns

Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents', 'Location ID',
       'Country', 'State', 'City', 'Zip Code', 'Lat Long', 'Latitude',
       'Longitude', 'Service ID', 'Quarter', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Status ID', 'Satisfaction Score', 'Customer Status',
       'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Category',
       'Churn Reason'],
      dtype='object')

In [26]:
tt_data = pd.read_csv("./data/total.csv", encoding='utf-8', header=0)

In [27]:
column_sorting = ['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents', 'Service ID', 'Referred a Friend',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Status ID', 'Satisfaction Score', 'Customer Status',
       'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Category',
       'Churn Reason']

merged_end_compared = merged_end[column_sorting]
tt_data_compared = tt_data[column_sorting]

In [28]:
# total.csv를 기준으로하여, 작성한 merged data가 일치하는지 확인
tt_data.compare(merged_end_compared)

Empty DataFrame
Columns: []
Index: []