# 데이터 로드

In [1]:
%config Completer.use_jedi = False
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
df = pd.read_excel("total.xlsx")
print(df.shape)
df.head()

(7043, 46)

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Service ID,...,Total Revenue,Status ID,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,IJKDQVSWH3522,...,59.65,SWSORB1252,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,BFKMZJAIE2285,...,1024.10,SNAEQA8572,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,EIMVJQBMT7187,...,1910.88,LMBQNN3714,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,EROZQXDUU4979,...,2995.07,VRZYZI9978,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,GEEYSJUHY6991,...,3102.36,FDNAKX1688,2,Churned,Yes,1,67,2793,Price,Extra data charges

사용할 컬럼만 선택

In [3]:
# Customer ID & 선정한 컬럼 & 'Churn Score'
selected_cols = ['Customer ID','Dependents', 'Under 30', 'Monthly Charge', 'Total Revenue', 'Tenure in Months', 'Internet Service', 
                 'Device Protection Plan', 'Unlimited Data', 'Streaming Movies', 'Churn Score']

new_df = df[selected_cols]

new_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Score
0,8779-QRDMV,No,No,39.65,59.65,1,Yes,Yes,No,Yes,91
1,7495-OOKFY,Yes,No,80.65,1024.10,8,Yes,No,Yes,No,69
2,1658-BYGOY,Yes,No,95.45,1910.88,18,Yes,No,Yes,Yes,81
3,4598-XLKNJ,Yes,No,98.50,2995.07,25,Yes,Yes,Yes,Yes,88
4,4846-WHAFZ,Yes,No,76.50,3102.36,37,Yes,No,Yes,No,67
...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,No,No,21.15,3039.53,72,No,No,No,No,45
7039,6840-RESVB,Yes,No,84.80,2807.47,24,Yes,Yes,Yes,Yes,59
7040,2234-XADUH,Yes,No,103.20,9453.04,72,Yes,Yes,Yes,Yes,71
7041,4801-JZAZL,Yes,No,29.60,319.21,11,Yes,No,Yes,No,59
7042,3186-AJIEK,No,No,105.65,8887.86,66,Yes,Yes,Yes,Yes,38

범주형 변수를 0과 1로 변환 & 수치형 변수 정규화

In [4]:
from sklearn.preprocessing import MinMaxScaler

def Featuring(input_df):
    # 범주형 변수를 0과 1로 변환
    target_cols = ['Under 30', 'Dependents', 'Internet Service', 'Device Protection Plan', 'Streaming Movies', 'Unlimited Data']
    for col in target_cols:
        input_df[col] = input_df[col].map({'Yes': 1, 'No': 0})

    # MinMaxScaler를 사용한 정규화
    scaler = MinMaxScaler()
    numeric_cols = ['Tenure in Months', 'Monthly Charge', 'Total Revenue']
    input_df[numeric_cols] = scaler.fit_transform(input_df[numeric_cols])
    
    return input_df

In [5]:
result_df = Featuring(new_df)
result_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Score
0,8779-QRDMV,0,0,0.212935,0.003202,0.000000,1,1,0,1,91
1,7495-OOKFY,1,0,0.620896,0.083855,0.098592,1,0,1,0,69
2,1658-BYGOY,1,0,0.768159,0.158013,0.239437,1,0,1,1,81
3,4598-XLKNJ,1,0,0.798507,0.248680,0.338028,1,1,1,1,88
4,4846-WHAFZ,1,0,0.579602,0.257652,0.507042,1,0,1,0,67
...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,0.028856,0.252398,1.000000,0,0,0,0,45
7039,6840-RESVB,1,0,0.662189,0.232992,0.323944,1,1,1,1,59
7040,2234-XADUH,1,0,0.845274,0.788735,1.000000,1,1,1,1,71
7041,4801-JZAZL,1,0,0.112935,0.024908,0.140845,1,0,1,0,59
7042,3186-AJIEK,0,0,0.869652,0.741471,0.915493,1,1,1,1,38

# 이탈 점수로 그룹화

* 0 : 0 ~ 25점
* 1 : 26 ~ 50점
* 2 : 51 ~ 75점
* 3 : 76 ~ 100점

기준에 따라 Group 컬럼 생성

In [6]:
# 조건에 따라 Group 컬럼에 값을 할당
result_df['Group'] = pd.cut(result_df['Churn Score'], bins=[0, 25, 50, 75, 100], labels=[0,1,2,3])
result_df

,Customer ID,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies,Churn Score,Group
0,8779-QRDMV,0,0,0.212935,0.003202,0.000000,1,1,0,1,91,3
1,7495-OOKFY,1,0,0.620896,0.083855,0.098592,1,0,1,0,69,2
2,1658-BYGOY,1,0,0.768159,0.158013,0.239437,1,0,1,1,81,3
3,4598-XLKNJ,1,0,0.798507,0.248680,0.338028,1,1,1,1,88,3
4,4846-WHAFZ,1,0,0.579602,0.257652,0.507042,1,0,1,0,67,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,0,0,0.028856,0.252398,1.000000,0,0,0,0,45,1
7039,6840-RESVB,1,0,0.662189,0.232992,0.323944,1,1,1,1,59,2
7040,2234-XADUH,1,0,0.845274,0.788735,1.000000,1,1,1,1,71,2
7041,4801-JZAZL,1,0,0.112935,0.024908,0.140845,1,0,1,0,59,2
7042,3186-AJIEK,0,0,0.869652,0.741471,0.915493,1,1,1,1,38,1

# 학습과 예측에 사용할 데이터셋 만들기

In [7]:
X = result_df.iloc[:,1:-2] # Customer ID 제외
print(X.shape) 
X

(7043, 9)

,Dependents,Under 30,Monthly Charge,Total Revenue,Tenure in Months,Internet Service,Device Protection Plan,Unlimited Data,Streaming Movies
0,0,0,0.212935,0.003202,0.000000,1,1,0,1
1,1,0,0.620896,0.083855,0.098592,1,0,1,0
2,1,0,0.768159,0.158013,0.239437,1,0,1,1
3,1,0,0.798507,0.248680,0.338028,1,1,1,1
4,1,0,0.579602,0.257652,0.507042,1,0,1,0
...,...,...,...,...,...,...,...,...,...
7038,0,0,0.028856,0.252398,1.000000,0,0,0,0
7039,1,0,0.662189,0.232992,0.323944,1,1,1,1
7040,1,0,0.845274,0.788735,1.000000,1,1,1,1
7041,1,0,0.112935,0.024908,0.140845,1,0,1,0
7042,0,0,0.869652,0.741471,0.915493,1,1,1,1

In [8]:
y = result_df.iloc[:,[-1]]
print(y.shape)
y

(7043, 1)

     Group
0        3
1        2
2        3
3        3
4        2
...    ...
7038     1
7039     2
7040     2
7041     2
7042     1

[7043 rows x 1 columns]

In [9]:
# 사이킷런에서 제공하는 model_selection의 train_test_split으로 만들기
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                    X, y, test_size=0.2, random_state=42)

In [10]:
# train 세트의 데이터 수를 확인
X_train.shape, y_train.shape

((5634, 9), (5634, 1))

In [11]:
# test 세트의 데이터 수를 확인
X_test.shape, y_test.shape

((1409, 9), (1409, 1))

# 모델 학습

## Support Vector Machine (SVM)

In [13]:
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

svm_model = svm.SVC()
svm_model.fit(X_train, y_train)
y_pred = svm_model.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.3924769339957417
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       106
           1       0.41      0.13      0.20       417
           2       0.36      0.69      0.47       506
           3       0.49      0.40      0.44       380

    accuracy                           0.39      1409
   macro avg       0.32      0.30      0.28      1409
weighted avg       0.38      0.39      0.35      1409

## Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(random_state=32)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)

# 검증
print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.37189496096522356
              precision    recall  f1-score   support

           0       0.03      0.01      0.01       106
           1       0.36      0.33      0.34       417
           2       0.38      0.48      0.42       506
           3       0.40      0.38      0.39       380

    accuracy                           0.37      1409
   macro avg       0.29      0.30      0.29      1409
weighted avg       0.35      0.37      0.36      1409

## Stochastic Gradient Descent Classifier (SGDClassifier)

In [15]:
from sklearn.linear_model import SGDClassifier

sgd_model = SGDClassifier()
sgd_model.fit(X_train, y_train)
y_pred = sgd_model.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.34421575585521647
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       106
           1       0.32      0.78      0.45       417
           2       0.37      0.13      0.20       506
           3       0.48      0.24      0.32       380

    accuracy                           0.34      1409
   macro avg       0.29      0.29      0.24      1409
weighted avg       0.36      0.34      0.29      1409

## Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)
y_pred = logistic_model.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.4024130589070263
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       106
           1       0.42      0.20      0.27       417
           2       0.37      0.64      0.47       506
           3       0.49      0.41      0.45       380

    accuracy                           0.40      1409
   macro avg       0.32      0.31      0.30      1409
weighted avg       0.39      0.40      0.37      1409

In [17]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier(random_state=15)
decision_tree.fit(X_train, y_train)
y_pred = decision_tree.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.32860184528034064
              precision    recall  f1-score   support

           0       0.05      0.05      0.05       106
           1       0.32      0.31      0.31       417
           2       0.36      0.39      0.37       506
           3       0.36      0.36      0.36       380

    accuracy                           0.33      1409
   macro avg       0.27      0.27      0.27      1409
weighted avg       0.33      0.33      0.33      1409

## KNN

In [18]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.33286018452803406
              precision    recall  f1-score   support

           0       0.07      0.07      0.07       106
           1       0.34      0.33      0.33       417
           2       0.38      0.38      0.38       506
           3       0.34      0.35      0.34       380

    accuracy                           0.33      1409
   macro avg       0.28      0.28      0.28      1409
weighted avg       0.33      0.33      0.33      1409

In [19]:
from sklearn.ensemble import VotingClassifier
import warnings
warnings.filterwarnings('ignore')

#개별 모델은 로지스틱 회귀와 KNN
lr_clf = LogisticRegression()
knn_clf = KNeighborsClassifier(n_neighbors=8)

#개별 모델을 소프트 보팅 기반의 앙상블 모델로 구현한 분류기 
vo_clf = VotingClassifier(estimators=[('LR',lr_clf),('KNN',knn_clf)],voting='soft')
vo_clf.fit(X_train,y_train)
pred = vo_clf.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.33286018452803406
              precision    recall  f1-score   support

           0       0.07      0.07      0.07       106
           1       0.34      0.33      0.33       417
           2       0.38      0.38      0.38       506
           3       0.34      0.35      0.34       380

    accuracy                           0.33      1409
   macro avg       0.28      0.28      0.28      1409
weighted avg       0.33      0.33      0.33      1409

## GBM(Gradient Boosting Machine)

In [20]:
from sklearn.ensemble import GradientBoostingClassifier
import warnings
warnings.filterwarnings('ignore')

gb_clf = GradientBoostingClassifier(random_state=0)
gb_clf.fit(X_train , y_train)
pred = vo_clf.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

정답률: 0.33286018452803406
              precision    recall  f1-score   support

           0       0.07      0.07      0.07       106
           1       0.34      0.33      0.33       417
           2       0.38      0.38      0.38       506
           3       0.34      0.35      0.34       380

    accuracy                           0.33      1409
   macro avg       0.28      0.28      0.28      1409
weighted avg       0.33      0.33      0.33      1409

## LightGBM

In [21]:
!pip install lightgbm
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(random_state=0)
lgbm.fit(X_train , y_train)
pred = vo_clf.predict(X_test)

print('정답률:', accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

Requirement already satisfied: lightgbm in c:\users\ksh\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: scipy in c:\users\ksh\anaconda3\lib\site-packages (from lightgbm) (1.9.1)
Requirement already satisfied: numpy in c:\users\ksh\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002163 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 594
[LightGBM] [Info] Number of data points in the train set: 5634, number of used features: 9
[LightGBM] [Info] Start training from score -2.645110
[LightGBM] [Info] Start training from score -1.214201
[LightGBM] [Info] Start training from score -0.949495
[LightGBM] [Info] Start training from score -1.406012
정답률: 0.33286018452803406
              precision    recall  f1-score   support

           0       0.07      0.07      0.07       106
           1       0.34      0.33      0.33       417
           2       0.38      0.38      0.38       506
           3       0.34      0.35      0.34       380

    accuracy                           0.33      1409
   macro avg       0.28      0.28      0.28      1409
weighted avg       0.33      0.33      0.33      1409

## Stacking

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# 개별 ML 모델
knn_clf  = KNeighborsClassifier(n_neighbors=4)
rf_clf = RandomForestClassifier(n_estimators=100, random_state=0)
dt_clf = DecisionTreeClassifier(random_state=0)
ada_clf = AdaBoostClassifier(n_estimators=100)

# 최종 모델
lr_final = LogisticRegression(C=10)

# 개별 모델 학습
knn_clf.fit(X_train, y_train)
rf_clf.fit(X_train , y_train)
dt_clf.fit(X_train , y_train)
ada_clf.fit(X_train, y_train)

AdaBoostClassifier(n_estimators=100)

In [23]:
# 개별 모델 예측 데이터 셋 및 정확도
knn_pred = knn_clf.predict(X_test)
rf_pred = rf_clf.predict(X_test)
dt_pred = dt_clf.predict(X_test)
ada_pred = ada_clf.predict(X_test)

knn_acc = accuracy_score(y_test, knn_pred)
rf_acc = accuracy_score(y_test, rf_pred)
dt_acc = accuracy_score(y_test, dt_pred)
ada_acc = accuracy_score(y_test, ada_pred)

print(f'KNN 정확도: {knn_acc:.4f}')
print(f'랜덤 포레스트 정확도: {rf_acc:.4f}')
print(f'결정 트리 정확도: {dt_acc:.4f}')
print(f'에이다부스트 정확도: {ada_acc:.4f}')

KNN 정확도: 0.3556
랜덤 포레스트 정확도: 0.3549
결정 트리 정확도: 0.3201
에이다부스트 정확도: 0.4081

In [24]:
# 개별 예측 결과를 stacking
pred = np.array([knn_pred, rf_pred, dt_pred, ada_pred])
print(pred.shape)

# 개별 모델의 예측 결과를 피처로 생성
pred = pred.T
print(pred.shape)

(4, 1409)
(1409, 4)

In [25]:
lr_final.fit(pred, y_test)
final = lr_final.predict(pred)
lr_final_acc = accuracy_score(y_test , final)

print(f'최종 메타 모델의 예측 정확도: {lr_final_acc:.4f}')

최종 메타 모델의 예측 정확도: 0.4081

# 모델 선택 및 적용

* SVM : 0.3924769339957417
* Randon Forest : 0.37189496096522356
* SGDClassifier : 0.3222143364088006
* Logistic Regression : 0.4024130589070263
* KNN : 0.33286018452803406
* GBM : 0.33286018452803406
* LightGBM : 0.4024130589070263
* **Stacking : 0.4081**

* 가상의 고객에게 적용

In [46]:
# 최적의 모델을 사용하여 테스트 데이터를 예측합니다.
test_data = [[0, 1, 0.8628, 0.7, 0.11267, 1, 1, 0, 1],
            [1, 1, 0.3628, 0.5, 0.71267, 1, 0, 1, 1]] # 테스트 데이터를 리스트로 준비

# 개별 ML 모델
knn_clf  = KNeighborsClassifier(n_neighbors=4)
rf_clf = RandomForestClassifier(n_estimators=100, random_state=0)
dt_clf = DecisionTreeClassifier(random_state=0)
ada_clf = AdaBoostClassifier(n_estimators=100)

# 최종 모델
lr_final = LogisticRegression(C=10)

# 개별 모델 학습
knn_clf.fit(X_train, y_train)
rf_clf.fit(X_train , y_train)
dt_clf.fit(X_train , y_train)
ada_clf.fit(X_train, y_train)

# 가상의 고객 데이터 이용하여 예측 수행
# 개별 모델 예측 데이터 셋 및 정확도
knn_pred = knn_clf.predict(test_data)
rf_pred = rf_clf.predict(test_data)
dt_pred = dt_clf.predict(test_data)
ada_pred = ada_clf.predict(test_data)

In [48]:
# 개별 모델의 예측 결과를 모아서 2D 배열로 만듭니다.
pred = np.array([knn_pred, rf_pred, dt_pred, ada_pred])
pred = pred.T  # 모양을 (샘플 수, 개별 모델 수)로 변환

# y_test_1d를 수정하여 샘플 수를 일치시킵니다.
y_test_1d = np.array([0, 1])

# 최종 모델 학습
lr_final.fit(pred, y_test_1d)

# 최종 모델을 사용하여 예측
final_pred = lr_final.predict(pred)

print(final_pred)

[0 1]

test_data의 가상 고객 두명의 그룹은 0과 1이다.